html{overflow-y:scroll;}
body{background:#FFFFFF;font-family:Segoe UI,Helvetica Neue,Open Sans,Helvetica,Tahoma,Arial,Verdana,sans-serif;font-size:16pt;font-weight:300;color:#404040;line-height:160%}
h1{font-family:Helvetica Neue,Segoe UI Light, Helvetica,Open Sans,Tahoma,Arial,Verdana,sans-serif;font-size:25pt;font-weight:1200;color:#990000;}
h2{font-family:Segoe UI Light,Helvetica Neue, Helvetica,Open Sans,Tahoma,Arial,Verdana,sans-serif;font-size:18pt;font-weight:600;color:#990000;}
a{link:#101010;visited:#00FF00;hover:#FF00FF;active:#000FF;}
a:hover{text-decoration:underline;color:#0066cc;}
.conference_title{font-weight:600;font-size:16pt;font-style:italic;}
b{font-weight:600;color:#000000;}
.main_container{background:#FFFFFF url(none) repeat scroll 0%;width:100%;padding-top:1%;padding-bottom:2%;padding-left:2%;padding-right:2%;background-color:#FFFFFF;margin-left:auto;margin-right:auto;}
.header{width:100%;max-width:500px;margin-top:2%;padding-left:2%;padding-right:2%;position:relative;text-align:center;}
div.photo{width:20%;float:left;}
div.short_bio{width:80%;text-align:left;margin-left:200px;}
.page_content{padding:2%;position:relative;}
.clear{clear:both;}
@media screen and (max-width:500px){div.photo{width:100%;margin:5px;}
div.short_bio{width:100%;text-align:left;margin-left:0;}
}